<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/farmers">Farmers</a></li>
            <li><a href="/farms">Farms</a></li>
            <li><a href="/crops">Crops</a></li>
            <li><a href="/weather">Weather</a></li>
            <li><a href="/pests">Pests</a></li>
            <li><a href="/tasks">Tasks</a></li>
        </ul>
    </nav>
</header>